<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <mera name="description" content=""/>
    <mera name="keywords" content="" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <section id="container">
        <header>
           <a href="//www.regionsofttech.com/" target="_blank"><div id="logo"></div></a> 
            <div id="social-media">
               <a href="//facebook.com" target="_blank"><div class="social"></div></a> 
               <a href="//instagram.com" target="_blank"><div class="social"></div></a>
               <a href="//twitter.com" target="_blank"><div class="social"></div></a>
            </div>
        </header>
        <nav>
            <a href="/"><div class="nav-item"><span>Ana Sayfa</span></div></a> 
            <a href="/bize_dair"><div class="nav-item"><span>Bize Dair</span></div></a> 
            <a href="/referanslar"><div class="nav-item"><span>Referanslar</span></div></a> 
            <a href="/cozumler"><div class="nav-item"><span>Çözümler</span></div></a> 
            <a href="/iletisim"><div class="nav-item" style="width:192px; border-right:0px;"><span>iletişim</span></div></a> 

        </nav>
        <section id="content">
            @RenderBody()
        </section>
        <footer><small>2017 &copy; Ahmet Enes Adlığ | Tüm Hakları Saklıdır</small></footer>
     </section>
</body>
</html>
