
@{
    ViewBag.Title = "Referanslar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Referanslar</h1>
<img src="~/Content/img/logo.png" class="img-left" />

<p>
    Duis scelerisque ex in aliquet ullamcorper. Duis consequat sem vitae enim eleifend, eget ullamcorper nulla hendrerit. Mauris a eros enim. In hac habitasse platea dictumst. Sed tempus congue turpis interdum lobortis. Aliquam nec odio a urna tempus vulputate sit amet eu nunc. Pellentesque viverra faucibus dolor, at faucibus mauris condimentum id. In pretium vitae augue in imperdiet. Nam pharetra mauris ut eros rutrum finibus. Nunc laoreet venenatis finibus. Nunc magna mauris, lacinia eget laoreet eu, lacinia in arcu. Cras volutpat at leo ut posuere. Quisque rutrum ut lacus vel pellentesque.
</p>
<p>
    Duis scelerisque ex in aliquet ullamcorper. Duis consequat sem vitae enim eleifend, eget ullamcorper nulla hendrerit. Mauris a eros enim. In hac habitasse platea dictumst. Sed tempus congue turpis interdum lobortis. Aliquam nec odio a urna tempus vulputate sit amet eu nunc. Pellentesque viverra faucibus dolor, at faucibus mauris condimentum id. In pretium vitae augue in imperdiet. Nam pharetra mauris ut eros rutrum finibus. Nunc laoreet venenatis finibus. Nunc magna mauris, lacinia eget laoreet eu, lacinia in arcu. Cras volutpat at leo ut posuere. Quisque rutrum ut lacus vel pellentesque.
</p>
<p>
    Duis scelerisque ex in aliquet ullamcorper. Duis consequat sem vitae enim eleifend, eget ullamcorper nulla hendrerit. Mauris a eros enim. In hac habitasse platea dictumst. Sed tempus congue turpis interdum lobortis. Aliquam nec odio a urna tempus vulputate sit amet eu nunc. Pellentesque viverra faucibus dolor, at faucibus mauris condimentum id. In pretium vitae augue in imperdiet. Nam pharetra mauris ut eros rutrum finibus. Nunc laoreet venenatis finibus. Nunc magna mauris, lacinia eget laoreet eu, lacinia in arcu. Cras volutpat at leo ut posuere. Quisque rutrum ut lacus vel pellentesque.
</p><p>
    Duis scelerisque ex in aliquet ullamcorper. Duis consequat sem vitae enim eleifend, eget ullamcorper nulla hendrerit. Mauris a eros enim. In hac habitasse platea dictumst. Sed tempus congue turpis interdum lobortis. Aliquam nec odio a urna tempus vulputate sit amet eu nunc. Pellentesque viverra faucibus dolor, at faucibus mauris condimentum id. In pretium vitae augue in imperdiet. Nam pharetra mauris ut eros rutrum finibus. Nunc laoreet venenatis finibus. Nunc magna mauris, lacinia eget laoreet eu, lacinia in arcu. Cras volutpat at leo ut posuere. Quisque rutrum ut lacus vel pellentesque.
</p>