
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ana Sayfa</h1>
<img src="~/Content/img/logo.png" class="img-left" />
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis euismod lorem, a tempor ex bibendum ut. Curabitur tempor in velit eget venenatis. Sed a erat ut neque maximus lobortis non sed libero. Donec congue fermentum odio, a dictum est feugiat ac. Quisque ac finibus ante. Nullam in maximus augue. Curabitur sed metus id orci luctus hendrerit sit amet non orci. Maecenas hendrerit et ligula in lacinia. Sed sed purus scelerisque, mattis est et, sodales quam. Sed id volutpat eros, vitae lobortis ligula. Sed nec massa dapibus, auctor ipsum vitae, elementum ligula. Mauris fringilla metus elit, in euismod quam porttitor vel. Etiam feugiat mi orci, nec accumsan tellus pharetra ac. Aenean tincidunt enim libero. Ut dictum vel est vitae viverra.
</p>
<p>
    Cras tortor odio, suscipit in nunc nec, egestas pellentesque augue. Aenean a pellentesque felis, at consequat justo. Maecenas id lorem convallis, blandit quam non, egestas sapien. Cras lacinia scelerisque quam ut vestibulum. Donec convallis, tortor a viverra aliquam, lacus neque ullamcorper est, in vehicula massa sapien ac ligula. Aenean at tellus et lacus porttitor bibendum in suscipit ex. Fusce et dui et lorem aliquet egestas. Quisque a facilisis odio. Aenean vulputate volutpat justo, in ullamcorper metus mattis vel. Sed posuere iaculis dapibus. Fusce vitae eros lacus.
</p>
<p>
    Cras varius quam orci, sit amet varius arcu mollis sit amet. Cras ultricies mollis facilisis. Suspendisse sed lorem rhoncus ipsum eleifend aliquam. Donec suscipit eu ipsum id fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum sit amet urna rutrum, porttitor quam at, bibendum lectus. Mauris vel vestibulum nisl. Duis rhoncus, nulla ac mollis pulvinar, quam lacus porttitor ipsum, in mollis ex odio eu dui. Sed sit amet scelerisque ipsum, vel semper ex. Proin congue nunc eu malesuada elementum.
</p>
<p>
    Nam suscipit sed est bibendum semper. Sed vestibulum odio sit amet lectus aliquet, ac bibendum felis feugiat. Donec blandit, urna ac aliquam hendrerit, sem nisl accumsan ante, vel scelerisque eros diam eget ante. Aenean venenatis odio nulla, et porta neque accumsan dignissim. Sed mi velit, feugiat et risus rhoncus, imperdiet ornare purus. Vivamus sit amet elit non felis venenatis porta et ut urna. Etiam quis porta risus. Phasellus at lacus quis tortor auctor malesuada. Aenean ullamcorper leo ex. Duis volutpat libero lacinia, facilisis purus quis, tempus nulla. Nullam sagittis sodales nisi, fringilla aliquam ex cursus in. Phasellus quam tellus, luctus quis sodales pulvinar, semper in neque. Fusce et est scelerisque, tincidunt justo nec, bibendum augue. Proin placerat tristique ante eget commodo. Sed porttitor arcu sed turpis dignissim laoreet. Nulla nec placerat leo, ut commodo nunc.
</p>
<p>
    Duis scelerisque ex in aliquet ullamcorper. Duis consequat sem vitae enim eleifend, eget ullamcorper nulla hendrerit. Mauris a eros enim. In hac habitasse platea dictumst. Sed tempus congue turpis interdum lobortis. Aliquam nec odio a urna tempus vulputate sit amet eu nunc. Pellentesque viverra faucibus dolor, at faucibus mauris condimentum id. In pretium vitae augue in imperdiet. Nam pharetra mauris ut eros rutrum finibus. Nunc laoreet venenatis finibus. Nunc magna mauris, lacinia eget laoreet eu, lacinia in arcu. Cras volutpat at leo ut posuere. Quisque rutrum ut lacus vel pellentesque.
</p>

